html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

/* Navbar*/
hr.navbar {
    margin: 0;
    height: 4px;
    width: 100%;
    background: black;
}

/* Navbar Home Page*/

.navbar {
    display: flex;
    align-items: center;
    gap: 0px;
    margin-top: 0;
    margin-left: 10px;
}

.site-title {
    margin: 0;
    font-size: 2em;
    font-family: inherit;
}

.menu-icon {
    width: 35px;
    margin: 20px;
    cursor: pointer;
}

.menu-icon:hover span {
    filter: invert(0.8) opacity(0.6);
    transition: filter 0.2s;
}

.menu-icon span{
    display: block;
    height: 5px;
    width: 100%;
    background: black;
    margin: 6px 0;
    border-radius: 2px;
}

.dropdown-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top:60px;
    left: 20px;
    background: #eee;
    border: 1px solid #ccc;
    padding: 10px 0;
    min-width: 120px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.dropdown-menu a {
    padding: 10px 20px;
    text-decoration: none;
    color: #222;
    display: block;
}

.dropdown-menu a:hover {
    background: #ddd;
}

.sc-link {
    margin-left: auto; /*Pushes img to far right*/
    margin-right: 30px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sc-icon {
    height: 35px;
    width: 35px;
    object-fit: contain;
    transition: 0.2s;
}

.sc-icon:hover {
    filter: invert(0.8) opacity(0.6);
    transition: filter 0.2s;
}

.gmail-link {
    margin-left: 10px;
    margin-right: 0px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.gmail-logo {
    height: 35px;
    width: 35px;
    object-fit: contain;
    transition: 0.2s;
}

.gmail-logo:hover {
    filter: brightness(0.8);
    transition: filter 0.2s;
}

.discord-link {
    margin-left: 10px;
    margin-right: 0px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.discord-logo {
    height: 35px;
    width: 35px;
    object-fit: contain;
    transition: 0.2s;
}

.discord-logo:hover {
    filter: brightness(0.8);
    transition: filter(0.2s);
}

.roblox-link {
    margin-left: 10px;
    margin-right:0px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.roblox-logo {
    height: 35px;
    width: 35px;
    border-radius: 5px; /*Added rounded borders to image*/
    object-fit: contain;
    transition: 0.2s;
}

.roblox-logo:hover {
    filter: brightness(0.8);
    transition: filter(0.2s);
}
